
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>Over the past 20 years, the visual representation of genetic sequence features, parts, and constructs has evolved considerably, from simple colored blocks to a variety of glyphs capturing diﬀerent sequence functions. During this time, organizations such as the <a href="http://sbolstandard.org/download/sbol-visual-1-0-0-specification/"> Synthetic Biology Open Language (SBOL)</a> Developers Group have made considerable progress in cataloguing commonly used synthetic biology glyphs and establishing standard procedures for curating new ones. What the greater synthetic biology community still lacks, however, is a common online resource for aggregating and distributing data for genetic design visualization.</p>
      <img class="center-block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUNuLhJMtFtu2UJ2GlAANmsH6Cq5GCuMMW0g8glBKMcdkwixIt">

      <p>The SynBio Glyphs Repository was created to be as such a resource by James Scott-Brown, Iulia Gherman and Margarita Kopniczky at 2017 BDAthlon, IWBDA, Pittsburgh.</p>
    </div>
</div>

<div>
<h1></h1>
</div>
<div class="row">
<p class="small">The template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>. It is a starter Flask template. It includes Bootstrap 3, jQuery 2, Flask-SQLAlchemy, WTForms, and various testing utilities out of the box. <a href="https://github.com/sloria/cookiecutter-flask">Learn more &raquo;</a></p>

</div>

{% endblock %}

