
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>

      <p>Over the past 20 years, the visual representation of genetic sequence features, parts, and constructs has
          evolved considerably, from simple colored blocks to a variety of glyphs capturing diﬀerent sequence functions.
          During this time, organizations such as the
          <a href="http://sbolstandard.org/download/sbol-visual-1-0-0-specification/"> Synthetic Biology Open Language (SBOL)</a>
          Developers Group have made considerable progress in cataloguing commonly used synthetic biology glyphs and establishing
          standard procedures for curating new ones, resulting in the
          <a href="http://sbolstandard.org/download/sbol-visual-1-0-0-specification/">SBOL visual 1.0.0 standard</a>,
          and the publication <a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002310">SBOL Visual: A Graphical Language for Genetic Designs</a>.
          This SBOLv standard is supported by several tools, including VisBOL, SBOL Designer, PigeonCAD, and
          the <a href="https://github.com/VoigtLab/dnaplotlib"> DNAplotlib</a> library.</p>

          <p>What the greater synthetic biology community still lacks, however, is a <b>common online resource</b> for aggregating
          and distributing data for genetic design visualization. The SBOL visual symbols are stored in a
              <a href="https://github.com/SynBioDex/SBOLv-realizations">Github repository</a>, rather than a dedicated browser.
          Whilst the SBOLv project is minimally prescriptive, it is still directed towards forming consensus recommendations,
          rather than documenting the diversity of usage, and there are aspects diagramming practice that it has not yet
              fully considered. </p>


      <p>The SynBio Glyphs Repository was created to be as such a resource by James Scott-Brown, Iulia Gherman and
          Margarita Kopniczky at the BDAthlon during the
          <a href="http://www.iwbdaconf.org/2017/">2017 International Workshop on Bio-Design Auotmation</a> in Pittsburgh.</p>
    </div>
</div>

<div>
<h1></h1>
</div>
<div class="row">
<p class="small">The template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>. It is a starter Flask template. It includes Bootstrap 3, jQuery 2, Flask-SQLAlchemy, WTForms, and various testing utilities out of the box. <a href="https://github.com/sloria/cookiecutter-flask">Learn more &raquo;</a></p>

</div>

{% endblock %}

