{% extends "layout.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

        <h1>SynBio Glyph repository</h1>

        <p>Browse the collection of glyphs, or <a href="{{ url_for('public.register') }}">create an account</a> to comment or submit your own.</p>
    </div><!-- /.jumbotron -->

    {% include "glyph-table.html" %}

    <p><a href="{{ url_for('glyph.add_glyph') }}">Add glyph</a></p>

{% endblock %}

{% block body_other %} onload="$('#glyph-table-inner').css('max-height',$(window).height() - 475);" {% endblock %}
