
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Register</h1>

    <p>You can either create an account using this form, or <a href="/github-login">login using your GitHub account</a> via OAuth, if you have one.</p>

    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.username.label}}
                {{form.username(placeholder="Username", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.email.label}}
                {{form.email(placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.password.label}}
                {{form.password(placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.confirm.label}}
                {{form.confirm(placeholder="Password (again)", class_="form-control")}}
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
    </form>
    <p><em>Already registered?</em> Click <a href="/login">here</a> to login.</p>
</div>
{% endblock %}

