
{% extends "layout.html" %}

{% block content %}
<div class="body-content">

<h2><button type="button" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-star" aria-hidden="true"></button></span> {{ glyph.name }}</h2>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= "static/glyphs/{{ glyph.file_name}}" alt="{{ glyph.name }}">
      <div class="caption">
	  <p>Associated SBO terms: {{ glyph.sbo_term }}.</p>
      <p>Creator: {{ glyph.user.username }}.</p>
        <p><a href="#" class="btn btn-primary" role="button">Download</a> <a href="./{{ glyph.id}}/comment" class="btn btn-default" role="button">Comment</a></p>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}

