{% extends "layout.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->

    {% if glyphs %}

        {% if (glyphs | length) == 1 %}
            <h1> 1 glyph for {{ soterm.name }} ({{ soterm.get_full_id() }}) </h1>
        {% else %}
            <h1> {{ glyphs | length }} glyphs submitted for {{ soterm.name }} ({{ soterm.get_full_id() }}) </h1>
        {% endif %}

    {% else %}
        <h1>No glyphs submitted for {{ soterm.name }} ({{ soterm.get_full_id()  }}) </h1>
    {% endif %}



    <blockquote>{{ soterm.definition }}<footer style="margin-top: 20px;"><cite>entry for <a href="http://www.sequenceontology.org/browser/current_svn/term/{{ soterm.get_full_id() }}"> {{ soterm.get_full_id() }} <i class="fa fa-external-link" aria-hidden="true"></i></a>
         on the Sequence Ontology website</cite></footer></blockquote>

    {% if (glyphs | length) > 0 %}
        {% include "glyph-table.html" %}
    {% endif %}

{% endblock %}

{% block body_other %} onload="$('#glyph-table-inner').css('max-height',$(window).height() - 475);" {% endblock %}
